<div class="container">
  <h1 class="title">Assigned Services</h1>
  <table class="service-table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>User Mobile</th>
        <th>Service Name</th>
        <th>Service Cost</th>
        <th>Service Requested On</th>
        <th>Service Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>{{ service.user[0].user_name }}</td>
        <td>{{ service.user[0].mobile }}</td>
        <td>{{ service.service_name }}</td>
        <td>{{ service.service_cost }}</td>
        <td>{{ service.service_date | date : "yyyy-MM-dd" }}</td>
        <td>{{ service.service_address }}</td>
        <td>
          <button (click)="completeService(service)">Complete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
