<div class="box">
  <div class="header">
    <div>
      <h1>Sparkle Cleaning Services</h1>
    </div>
  </div>
  <div class="update-container">
    <form #updateForm="ngForm">
      <h2>Update Password</h2>
      <div class="form-group">
        <label for="password">Enter New Password</label>
        <input
          type="text"
          id="passwrod"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>

      <div class="form-actions">
        <button type="button" class="btn" (click)="onSubmit(updateForm)">
          Update
        </button>
      </div>
    </form>
  </div>
</div>