<div>
  <h2>TOGGLE STAFFS</h2>
  <table>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Gender</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let staff of staffs">
      <td>{{ staff.user_name }}</td>
      <td>{{ staff.email }}</td>
      <td>{{ staff.mobile }}</td>
      <td>{{ staff.gender }}</td>
      <td>{{ !staff.is_deleted ? "Enabled" : "Disabled" }}</td>
      <td>
        <button (click)="toggleStaffStatus(staff.uuid, !staff.is_deleted)">
          {{ !staff.is_deleted ? "Disable" : "Enable" }}
        </button>
      </td>
    </tr>
  </table>
</div>
