<div>
  <h2>VIEW SERVICES</h2>
  <table>
    <tr>
      <th>Service Name</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Estimated Time</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let service of services">
      <td>{{ service.name }}</td>
      <td>{{ service.description }}</td>
      <td>{{ service.cost }}</td>
      <td>{{ service.time }}</td>
      <td>{{ !service.is_deleted ? "Enabled" : "Disabled" }}</td>
      <td>
        <button (click)="openModal(service)">Modify</button>

        <button
          (click)="toggleServiceStatus(service.uuid, !service.is_deleted)"
        >
          {{ !service.is_deleted ? "Disable" : "Enable" }}
        </button>
      </td>
    </tr>
  </table>
</div>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Edit Service</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="editServiceName">Service Name:</label>
        <input
          type="text"
          id="editServiceName"
          [(ngModel)]="selectedService.name"
          name="editServiceName"
          required
        />
      </div>
      <div>
        <label for="editDescription">Description:</label>
        <textarea
          id="editDescription"
          [(ngModel)]="selectedService.description"
          name="editDescription"
          required
        ></textarea>
      </div>
      <div>
        <label for="editCost">Cost:</label>
        <input
          type="number"
          id="editCost"
          [(ngModel)]="selectedService.cost"
          name="editCost"
          required
        />
      </div>
      <div>
        <label for="editEstimatedTime">Estimated Time:</label>
        <input
          type="text"
          id="editEstimatedTime"
          [(ngModel)]="selectedService.time"
          name="editEstimatedTime"
          required
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
